<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"border":{"radius":"4px"},"spacing":{"padding":{"top":"2rem","bottom":"2rem"},"margin":{"top":"3rem","left":"auto","right":"auto","bottom":"4rem"}}},"backgroundColor":"gray-light","textColor":"darko"} -->
<main class="wp-block-group has-darko-color has-gray-light-background-color has-text-color has-background" style="border-radius:4px;padding-top:2rem;padding-bottom:2rem;margin-top:3rem;margin-left:auto;margin-right:auto;margin-bottom:4rem">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"level":1} /--></div>
    <!-- /wp:group -->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->