<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /--> 
<!-- wp:group {"tagName":"main","style":{"border":{"radius":"5px"},"spacing":{"padding":{"top":"var:preset|spacing|x-large","bottom":"3.5rem"},"margin":{"top":"var:preset|spacing|x-large","left":"auto","right":"auto","bottom":"var:preset|spacing|xx-large"}}},"backgroundColor":"white-ice","textColor":"darko"} -->
<main class="wp-block-group has-darko-color has-white-ice-background-color has-text-color has-background" style="border-radius:5px;margin-top:var(--wp--preset--spacing--x-large);margin-right:auto;margin-bottom:var(--wp--preset--spacing--xx-large);margin-left:auto;padding-top:var(--wp--preset--spacing--x-large);padding-bottom:3.5rem">
    <!-- wp:group {"layout":{"type":"constrained"}} -->
    <div class="wp-block-group"><!-- wp:post-title {"level":1} /--></div>
    <!-- /wp:group -->
    <!-- wp:post-content {"layout":{"type":"constrained"}} /-->
    <!-- wp:pattern {"slug":"icecubo/comments"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->