<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
    <!-- wp:group -->
    <div class="wp-block-group">
        <!-- wp:query-title {"type":"archive","showPrefix":false,"fontSize":"xl"} /-->
        <!-- wp:term-description /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"icecubo/query-blog"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->