<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","style":{"spacing":{"padding":{"top":"var:preset|spacing|medium","bottom":"3.5rem"},"margin":{"top":"0"}},"dimensions":{"minHeight":"65vh"}},"layout":{"type":"constrained"}} -->
<main class="wp-block-group" style="min-height:65vh;margin-top:0;padding-top:var(--wp--preset--spacing--medium);padding-bottom:3.5rem">
    <!-- wp:group -->
    <div class="wp-block-group">
        <!-- wp:query-title {"type":"search","fontSize":"large"} /-->
    </div>
    <!-- /wp:group -->
    <!-- wp:pattern {"slug":"icecubo/query-basic-list"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->