/* Menu item - on hover Standard behavior */
.wp-block-navigation.is-style-icecubo-nav-mark-hovers ul:not(.wp-block-navigation__submenu-container) > li.wp-block-navigation-item:hover { box-shadow: 0 2px 0; transition: box-shadow .2s ease-in-out; }
.wp-block-navigation.is-style-icecubo-nav-mark-hovers ul.wp-block-navigation__submenu-container > li.wp-block-navigation-item > a:hover { text-decoration: underline; }

/* Hover: border styling on a:before */
.wp-block-navigation[class*="is-style-icecubo-nav-hovers-"] li.wp-block-navigation-item > a:before {content: ""; position: absolute; left: 0; right: 0; border: 2px solid transparent; bottom: 0; top: 0; transition: all .2s ease-in-out;}

/* ...When the item has a border radius, i.e. item-outline */
.wp-block-navigation[class*="is-style-icecubo-nav-hovers-"] li.is-style-icecubo-nav-item-outline > a:before {border-radius: var(--wp--custom--radius-large);}

/* ...particular style, i.e. Top, Bottom, Both */
.wp-block-navigation.is-style-icecubo-nav-hovers-top    li.wp-block-navigation-item.wp-block-navigation-link > a:hover:before { border-top:    2px solid;}
.wp-block-navigation.is-style-icecubo-nav-hovers-bottom li.wp-block-navigation-item.wp-block-navigation-link > a:hover:before { border-bottom: 2px solid;}
.wp-block-navigation.is-style-icecubo-nav-hovers-2      li.wp-block-navigation-item.wp-block-navigation-link > a:hover:before { border-top:    2px solid; border-bottom: 2px solid;}

/* ...When the item is inside the Mega menu and has child items */
.wp-block-navigation.is-style-icecubo-nav-hovers-top    ul.is-style-icecubo-nav-submenu-mega li.wp-block-navigation-item:not(.wp-block-navigation-link) > a:hover { box-shadow: 0 -2px 0; transition: box-shadow .2s ease-in-out; }
.wp-block-navigation.is-style-icecubo-nav-hovers-bottom ul.is-style-icecubo-nav-submenu-mega li.wp-block-navigation-item:not(.wp-block-navigation-link) > a:hover,
.wp-block-navigation.is-style-icecubo-nav-hovers-2      ul.is-style-icecubo-nav-submenu-mega li.wp-block-navigation-item:not(.wp-block-navigation-link) > a:hover { box-shadow: 0 2px 0; transition: box-shadow .2s ease-in-out; }