/* Menu item - Since '--wp--style--global--wide-size' is declared in %, it breaks the menu item with multiple words (also in the mega-menu). This resolves it */
.wp-block-navigation-item__content { width: max-content; }

/* If the inline image is added to the nav item, this makes it gapped from the text */
.wp-block-navigation li a.wp-block-navigation-item__content {
    align-items: center;
    gap: .3em;
}

/* Submenu icon ˘ make sure it's centered */
.wp-block-navigation__submenu-icon.wp-block-navigation__submenu-icon {margin-top: 0; margin-bottom: 0;}

/* Mobile menu modal overlay - make the submenu on vertical ends tighten */
.wp-block-navigation__responsive-container.is-menu-open .wp-block-navigation__responsive-container-content .has-child .wp-block-navigation__submenu-container {
    padding-top: 0;
    padding-bottom: 0;
}

/* Mobile menu modal overlay - give some spacing */
.has-modal-open .wp-block-navigation__responsive-container {padding: 18px 5px;}
.has-modal-open .wp-block-navigation .wp-block-navigation__submenu-container .wp-block-navigation-item {line-height: 2.3;}

/*On hover, push the sub-menu's item a bit from the left*/
.wp-block-navigation li.wp-block-navigation-item ul a:hover > span.wp-block-navigation-item__label {transform: translateX(2px); transition: transform .2s ease-in-out;}

/* Menu item - on hover Standard behavior */
.wp-block-navigation.is-style-icecubo-nav-mark-hovers ul:not(.wp-block-navigation__submenu-container) > li.wp-block-navigation-item:not(.has-child):hover { box-shadow: 0 2px 0; transition: box-shadow .2s ease-in-out; }
/* Sub menu items hover marking */
.wp-block-navigation.is-style-icecubo-nav-mark-hovers ul.wp-block-navigation__submenu-container > li.wp-block-navigation-item > a:hover { text-decoration: underline; }

/* Hover: border styling on a:before */
.wp-block-navigation[class*="is-style-icecubo-nav-hovers-"] li.wp-block-navigation-item > a:before {content: ""; position: absolute; left: 0; right: 0; border: 2px solid transparent; bottom: 0; top: 0; transition: all .2s ease-in-out;}

/* ...When the item has a border radius, i.e. item-outline */
.wp-block-navigation[class*="is-style-icecubo-nav-hovers-"] li.is-style-icecubo-nav-item-outline > a:before {border-radius: var(--wp--custom--radius-large);}

/* ...particular style, i.e. Top, Bottom, Both */
.wp-block-navigation.is-style-icecubo-nav-hovers-top    li.wp-block-navigation-item.wp-block-navigation-link > a:hover:before,
.wp-block-navigation.is-style-icecubo-nav-hovers-top    li.wp-block-navigation-item ul li.wp-block-navigation-item a:hover:before { border-top: 2px solid;}
.wp-block-navigation.is-style-icecubo-nav-hovers-bottom li.wp-block-navigation-item.wp-block-navigation-link > a:hover:before,
.wp-block-navigation.is-style-icecubo-nav-hovers-bottom li.wp-block-navigation-item ul li.wp-block-navigation-item a:hover:before { border-bottom: 2px solid;}
.wp-block-navigation.is-style-icecubo-nav-hovers-2      li.wp-block-navigation-item.wp-block-navigation-link > a:hover:before,
.wp-block-navigation.is-style-icecubo-nav-hovers-2      li.wp-block-navigation-item ul li.wp-block-navigation-item a:hover:before { border-top: 2px solid; border-bottom: 2px solid;}

/* ...When the item is inside the Mega menu and has child items */
.wp-block-navigation.is-style-icecubo-nav-hovers-top    ul.is-style-icecubo-nav-submenu-mega li.wp-block-navigation-item:not(.wp-block-navigation-link) > a:hover { box-shadow: 0 -2px 0; transition: box-shadow .2s ease-in-out; }
.wp-block-navigation.is-style-icecubo-nav-hovers-bottom ul.is-style-icecubo-nav-submenu-mega li.wp-block-navigation-item:not(.wp-block-navigation-link) > a:hover,
.wp-block-navigation.is-style-icecubo-nav-hovers-2      ul.is-style-icecubo-nav-submenu-mega li.wp-block-navigation-item:not(.wp-block-navigation-link) > a:hover { box-shadow: 0 2px 0; transition: box-shadow .2s ease-in-out; }

/*On buttons's hover in the nav set a shadow*/
nav .wp-block-search__button.wp-element-button:hover,
nav .wp-block-button__link:hover {
    box-shadow: var(--wp--custom--button-shadow-small);
    transition: all .2s ease-in-out;
}

/*Buttons in the nav (search, +)*/
nav .wp-block-buttons > .wp-block-button .wp-element-button {
    padding: .35em 1em;
}
nav .wp-block-search__button {
    padding: .35em 1em;
    margin: auto;
    font-size: 1rem;
}
nav .wp-block-search__button svg {
    margin: 7px -2px;
    min-height: unset;
    min-width: unset;
}