/* Shadow for link hover */
.wp-block-button__link:hover {
    box-shadow: var(--wp--custom--button-shadow);
}
.wp-block-button.has-dark-theme .wp-block-button__link:hover {
    box-shadow: var(--wp--custom--button-shadow-dark);
}

/* Button with initial shadow */
.is-style-icecubo-shadow-button .wp-block-button__link,
.is-style-icecubo-shadow-button .wp-block-button__link:focus,
.is-style-icecubo-shadow-button .wp-block-button__link:visited {
    box-shadow: var(--wp--custom--button-shadow);
}

.wp-block-button.has-dark-theme.is-style-icecubo-shadow-button .wp-block-button__link {
    box-shadow: var(--wp--custom--button-shadow-dark);
}

.is-style-icecubo-shadow-button .wp-block-button__link:hover,
.has-dark-theme.is-style-icecubo-shadow-button .wp-block-button__link:hover {
    box-shadow: none;
}

/* No border - double the class to take the impact in the editor */
.is-style-icecubo-noborder-button.is-style-icecubo-noborder-button .wp-block-button__link { border-width: 0; }