.wp-block-navigation ul.wp-block-navigation__submenu-container {
    padding: .35em;
    /* Give the submenu large z-inex - it was overlapped by the woo's "Sale" tag on its shop page and category page */
    z-index: 99 !important;
    border-radius: 20px;
}

/* Spacing for the sub-menu items*/
.wp-block-navigation__responsive-container:not(.has-modal-open) ul.wp-block-navigation-submenu .wp-block-navigation-item.wp-block-navigation-link a {padding: .35em 1em}

/* Mega Menu - Columns */
@media (min-width: 600px)
{
    ul.is-style-icecubo-nav-submenu-mega > li {display: inline-block !important;}
    ul.is-style-icecubo-nav-submenu-mega > li {display: inline-block !important;}
    ul.is-style-icecubo-nav-submenu-mega > li li {display: block !important;}
    ul.is-style-icecubo-nav-submenu-mega button.wp-block-navigation__submenu-icon {display: none !important;}
    ul.is-style-icecubo-nav-submenu-mega li > ul {visibility: visible !important; opacity: 1 !important; width: max-content !important; height: auto !important; position: relative !important; left: 0 !important; border: 0 !important;}
    ul.is-style-icecubo-nav-submenu-mega li > ul {display: inline !important;}
    ul.is-style-icecubo-nav-submenu-mega.wp-block-navigation-submenu.wp-block-navigation-submenu {display: grid; grid-column-gap: 2em;}
    ul.is-style-icecubo-nav-submenu-mega.wp-block-navigation-submenu {grid-template-columns: repeat(2, 1fr);}
    ul.is-style-icecubo-nav-submenu-mega.wp-block-navigation-submenu.mm3 {grid-template-columns: repeat(3, 1fr);}
    ul.is-style-icecubo-nav-submenu-mega.wp-block-navigation-submenu.mm4 {grid-template-columns: repeat(4, 1fr);}
    ul.is-style-icecubo-nav-submenu-mega.wp-block-navigation-submenu.mm5 {grid-template-columns: repeat(5, 1fr);}
}