.is-style-icecubo-comment-content-bubble {
    position: relative;
    padding: var(--wp--custom--spacing-xxs) var(--wp--preset--spacing--x-small);
    margin: var(--wp--preset--spacing--x-small) 0;
    border-top: 1px solid;
    border-left: 1px solid;
    border-radius: .75em;
    border-bottom-left-radius: 20px;
    filter: drop-shadow(2px -6px 12px var(--wp--preset--color--gray-light));
}

.is-style-icecubo-comment-content-bubble:before {
    content: "";
    position: absolute;
    border-left-color: transparent;
    border-right-color: transparent;
    border-width: 0 .5em .55em;
    left: var(--wp--preset--spacing--small);
    top: -.55em; /* the same as border-bottom-width */
    border-style: solid;
}